.servicios .col img {
    width: 100%;
}

.servicios .col{
    display: flex;
    flex-direction: column;
}

.servicios .row{
    padding-right: 0 !important;
}

.servicios ul {
    list-style-type:none;
    text-align: justify;
    padding: 36px !important;
}

.lista ul li::before {
    content: "+";
    margin-right: 25px;
    color: hsl(300, 47%, 75%);
    font-weight: bold;
}

.lista__container, .lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.servicios h3 {
    margin-top: 2em;
    color: hsla(0, 0%, 100%, 20%);
}

.servicios h4,
.servicios h5,
.servicios ul {
    color: hsla(0, 0%, 100%, 80%);
}

.servicios .navbar-brand{
    display: block;
}

.servicios-cover{
    display: flex;
    flex-direction: row;
    margin: 20px 5px;
    align-content: center;
}

.instalaciones_complementarias .row{
    padding: 0;
    margin: 0;
}

.instalaciones_complementarias .row .col:first-child{
    background-image: url(assets/001.jpg);
    background-size: cover;
}

.instalaciones_complementarias .row .col:last-child{
    background-image: url(assets/002.jpg);
    
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 991px){
    .lista__container {
        flex-direction: row;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
        gap: 10px;
    }
    
    .lista__container li {
        flex-basis: calc(50% - 20px); /* Divide en dos columnas, con espacio entre ellas */
        margin-right: 20px;
    }
    
    /* Eliminar margen derecho del último elemento en la fila */
    .lista__container li:nth-child(2n) {
        margin-right: 0;
    }

    .instalaciones_complementarias ul{
        padding: 0 16px !important;
        margin-top: 52px;
    }

    .servicios h3 {
        margin-top: 2em;
        font-size: 30px;
    }

    .servicios h4{
        font-size: 24px;
    }

    .servicios ul{
        
        font-size: 20px;
    }
}

@media (min-width: 992px){
    .lista__container {
        flex-direction: row;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
        gap: 20px;
    }
    
    .lista__container li {
        flex-basis: calc(50% - 20px); /* Divide en dos columnas, con espacio entre ellas */
        margin-right: 20px;
    }
    
    /* Eliminar margen derecho del último elemento en la fila */
    .lista__container li:nth-child(2n) {
        margin-right: 0;
    }

    .servicios{
        padding-top: 100px;
    }

    .servicios .navbar-brand{
        display: none;
    }

    .proyecto-header .navbar-brand {
        display: flex;
        flex-direction: row;
    }
        /* PÁGINAS SERVICIOS */

    .servicios .col {
        padding: 0;
    }

    .servicios-cover {
        display: none;
    }

    .servicios h3 {
        margin-top: 3em;
        font-size: 40px;
    }

    .servicios h4{
        font-size: 30px;
    }

    .servicios ul{
        padding: 1em 3em;
        font-size: 24px;
    }
}

@media (min-width:1900px) {
    .proyecto-header nav .collapse{
        padding: 10px;
    }
    
    .proyecto-header .nav-link{
        font-size: 24px !important;
    }

    .proyecto-header .navbar-brand{
        width: 50%;
    }
}