/* FUENTES */

@font-face {
    font-family: 'Bernardo Moda';
    src: url('fonts/Bernardo\ Moda\ contrast.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Gothic';
    src: url('fonts/GOTHIC.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.questrial-regular {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}

.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}

/* .poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
} */

.bernardo-moda {
    font-family: "Bernardo Moda", sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    font-style: normal;
}

/*.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
} */



/* GENERALES */

* {
    box-sizing: border-box;
}

body {
    background-color: #141414;
    font-family: 'Gothic';
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Bernardo Moda", sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    font-style: normal;
}

.unselectable {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* Botón de WPP */

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: hsla(0, 0%, 8%, 50%);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 1px 1px 2px hsla(0, 0%, 100%, 50%);
    z-index: 1000;
}

.whatsapp-float svg {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.whatsapp-float:hover {
    color: #25d366;
}

/* NAVEGADOR */

nav,
.container-fluid,
.navbar-brand,
.navbar {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    display: none;
}

.navbar-collapse {
    width: 100%;
    background-color: #141414;
    z-index: 2;

    /* border-bottom: 1px dashed #ffffff; */
}

nav .container-fluid {
    flex-direction: column;
}

nav .nav-item {
    font-family: 'Gothic';
    font-weight: 400;
    font-style: normal;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

nav .nav-item:hover {
    transform: scale(150%);
    -webkit-transform: scale(150%);
    -moz-transform: scale(150%);
    -ms-transform: scale(150%);
    -o-transform: scale(150%);

}

nav .nav-link:hover {
    color: #DDA0DD !important;
}

nav .navbar-collapse,
.navbar-toggler {
    position: fixed;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    font-variant: small-caps;
}

nav .navbar-toggler {
    background-color: #141414;
    margin: 1em;
    z-index: 3;
}

nav .collapse,
.navbar-collapse {
    text-align: center;
}

/* COVER */

.cover {
    background-image: url(assets/caratula2.jpg);
    background-size: cover;
    height: 50vh;

    display: flex;
    background-position: left center;
    background-attachment: scroll;
}

q {
    quotes: '«' '»' '"' '"';
    font-family: 'Gothic';
    font-size: 30px;
    font-weight: bolder;
    line-height: 60px;
    color: #DDA0DD;
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

.cita {
    font-size: 16px;
    margin-left: 30px;
    color: hsla(0, 0%, 100%, 60%);
    font-weight: lighter;
}

/* SECCIÓN NOSOTROS */

.nosotros {
    background: linear-gradient(to bottom, #000000, #141414);
    display: flex;
    flex-direction: column;
}

.propuesta {
    font-size: 1.3em;
    font-weight: 100;
    margin-bottom: 30px;
}

strong {
    font-family: 'Gothic';
    font-variant: small-caps;
    color: #DDA0DD;
}

.firma {
    font-size: 30px;
}

.cpau{
    font-size: 24px;
}

.propuesta strong{
    font-size: 40px;
}

.quien-soy .row:last-child div {
    background-image: url(assets/SINFONDOblanc_sintitulo.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.quien-soy .row:last-child div p {
    background-color: hsla(0, 0%, 0%, 80%);
    font-size: 18px;
}

.quien-soy img {
    width: 100%;
    border: 1px solid #000000;
    padding: 0;

    margin-bottom: 20px;
}

.quien-soy h3 {
    text-align: center;
}

.quien-soy .col {
    /* border: 1px dashed #ffffff; */

    background-color: hsla(0, 0%, 0%, 100%);
    color: hsla(0, 0%, 100%, 80%);

    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide button {
    background-color: transparent;
    border: none;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.slide-img {
    border: none;
    width: 25%;
}

.slide button:hover {
    transform: scale(120%);
    -webkit-transform: scale(120%);
    -moz-transform: scale(120%);
    -ms-transform: scale(120%);
    -o-transform: scale(120%);
}

/* SECCIÓN SERVICIOS */

.seccion-servicios {
    width: 100%;
}

.seccion-servicios .col-6 {
    font-family: 'Gothic';
    font-weight: bolder;
    font-style: normal;
    /* font-family: "Bernardo Moda", sans-serif; */
    font-variant: small-caps;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.seccion-servicios img {
    width: 100%;
    opacity: 0.9;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.seccion-servicios a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, color 0.7s;
    -webkit-transition: background-color 0.5s, color 0.7s;
    -moz-transition: background-color 0.5s, color 0.7s;
    -ms-transition: background-color 0.5s, color 0.7s;
    -o-transition: background-color 0.5s, color 0.7s;
}

.seccion-servicios a:hover {
    background-color: hsla(300, 47%, 75%, 50%);
    /* background-color: hsla(0, 0%, 50%, 50%); */
    color: #ffffff;
    font-weight: bold;
}

.seccion-contacto,
.seccion-contacto a,
.seccion-servicios a,
.servicios a {
    color: white;
    text-decoration: none;
}

/* SECCIÓN CONTACTO */

.datos-contacto {
    font-size: 20px;
}

.seccion-contacto a:hover {
    color: hsl(300, 47%, 75%);
}

.seccion-contacto img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.seccion-contacto .row:first-child {
    color: hsla(0, 0%, 100%, 50%);
}

.form-label {
    color: hsla(0, 0%, 100%, 60%);
    font-weight: bold;

    font-size: 20px;
}

.form-control {
    font-weight: 400;
    background-color: #000000;
    color: #ffffff;

    font-size: 24px;
}

.form-control:not(:placeholder-shown) {
    background-color: hsla(300, 47%, 75%, 50%);
}

.form-control:focus {
    background-color: #DDA0DD;
}

.btn-outline-success {
    font-weight: bolder;

    border-color: hsla(300, 47%, 75%, 50%) !important;
    color: hsla(300, 47%, 75%, 50%);
}

.btn-outline-success:hover {
    background-color: hsla(300, 47%, 75%, 50%);
    color: #ffffff;
}

.seccion-contacto .row:last-child {
    text-align: center;
    margin-top: 70px;
    gap: 50px;
}

.redes-sociales h3 {
    margin-bottom: 16px;
}

.metodos {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;
    justify-content: center;
}

figcaption {
    font-weight: lighter;

}

.bi-instagram,
.bi-linkedin {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.bi-instagram:hover {
    color: #DD2A7B;
}

.bi-linkedin:hover {
    color: #0e76a8;
}

/* FOOTER */

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: hsla(0, 0%, 100%, 50%);
    height: 10vh;
    font-size: 0.7em;

    background: linear-gradient(to bottom, #141414, #000000);
}

footer a:hover {
    color: hsla(0, 0%, 100%, 10%);
}

footer a {
    color: hsla(0, 0%, 100%, 20%);
    text-decoration: none;
}

/*Tablet*/
@media (min-width: 768px) {
    .cover {
        height: 65vh;
    }

    .cita {
        font-size: 20px;
        margin-left: 50px;
    }

    .propuesta strong {
        font-size: 50px;
    }

    .quien-soy .row:first-child {
        justify-content: center;
    }

    .quien-soy img {
        width: 75%;
    }

    .order1 {
        order: 1;
    }

    .order2 {
        order: 2;
    }

    .order3 {
        order: 4;
    }

    .order4 {
        order: 3;
    }

    .order5 {
        order: 6;
    }

    .order6 {
        order: 5;
    }

    .order7 {
        order: 7;
    }

    .order8 {
        order: 8;
    }

    .order9 {
        order: 9;
    }

    .order10 {
        order: 10;
    }

    .order11 {
        order: 12;
    }

    .order12 {
        order: 11;
    }

    .seccion-servicios .col-6 {
        font-size: 1.5em;
    }
}

/*Desktop*/
@media (min-width:992px) {
    .cover {
        height: 100vh;
    }

    .quien-soy .col {
        flex-direction: row;
    }

    .quien-soy .row {
        flex-direction: column;
    }

    .quien-soy .row:first-child {
        width: 40%;
    }

    .quien-soy .row:last-child {
        width: 60%;
        padding-top: 12px;
    }

    .quien-soy img {
        width: 90%;
    }

    /* .seccion-contacto .col {
        display: flex;
        flex-direction: row;
    }

    .seccion-contacto .row {
        display: flex;
        flex-direction: column;

        width: 50%;
    }

    .seccion-contacto .row .col {
        display: flex;
        flex-direction: column;
    }

    .seccion-contacto .row:last-child {
        text-align: end;
        margin-top: 0;
        gap: 40px;
    }

    .redes-sociales, .metodos-pago {
        margin-top: 26px;
    }

    .tarjeta-contacto .col {
        flex: 0;
    } */
}

@media (min-width:1900px) {}